body {
  margin: 0; padding: 0; box-sizing: border-box; /* reset */
  height: 100vh;
  background: linear-gradient(to bottom,
      #009688 0px,
      #009688 15vh,
      #dddbd1 15vh,
      #d2dbdc 100%);
  font-family: 'Nunito', sans-serif;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.wrapper {
  height: 95%;
  width: 80%;
}

main > .sidebar {
  height: 100%;
  width: 30%;
  border-right: 1px solid #d6d6d6;
}

    .header {
      background-color: #eaeaea;
      height: 10%;
      padding: 0 20px;
      justify-content: space-between;
      flex-grow: 0;
      flex-basis: 0;
    }

        .avatar > img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }

        .name {
          padding-left: 10px;
          font-size: 0.8rem;
        }

        .name > span {
          margin: 5px;
        }

        .headerButtons {
          color: #b1b1b1;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .headerButtons > i:not(:last-child) {
          margin-right: 10px;
        }

    .sidebar > .callToAction {
      background-color: #8edafc;
      height: 10%;
      justify-content: flex-start;
      padding: 0 20px;
    }

        .notificationIcon {
          background-color: #fff;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .notificationIcon > i {
          color: #8edafc;
        }

        .notificationText {
          padding-left: 10px;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .notificationText h5 {
          margin: 5px;
          font-weight: 500;
        }

        .notificationText h6 {
          margin: 5px;
          color: #4f7485;
          font-weight: 300;
          text-decoration: underline;
        }

    .sidebar > .searchBox {
      background-color: #fafafa;
      height: 5%;
    }

        .searchBox > .searchInput {
          background-color: #fff;
          height: 70%;
          width: 95%;
          border: 1px solid #f5f5f5;
          justify-content: space-around;
        }

        .searchBox > .searchInput > i {
          color: #babfc1;
          font-size: 0.8rem;
        }

        .searchBox > .searchInput > input {
          width: 75%;
          border: none;
          border-radius: 5px;
        }

        input::placeholder {
          color: #babfc1;
          font-family: 'Nunito', sans-serif;
        }

    .sidebar > .chatList {
      background-color: #fff;
      height: 75%;
      overflow-y: auto;
    }

        ul {
          margin: 0;
          padding: 0;
        }

        li {
          list-style-type: none;
          width: 100%;
          border-bottom: 1px solid #f5f5f5;
        }

        li:hover {
          background-color: #f1f2f2;
          cursor: pointer;
        }

        .contact {
          padding: 10px 20px;
          justify-content: flex-start;
        }

        .contact > .avatar > img {
          height: 50px;
          width: 50px;
        }

        .contact > .name {
          font-size: 1rem;
          align-self: flex-start;
        }

        .activeChat {
          background-color: #e9ebeb;
        }

main > .chatBox {
  height: 100%;
  width: 70%;
  flex-grow: 0;
  flex-shrink: 0;
}

    /* .header (height: 10%;) already defined above */

        .name > h4 {
          margin: 5px;
          font-weight: 600;
        }

        .name > h5 {
          margin: 5px;
          color: #b1b1b1;
          font-weight: 400;
        }

    .chatBox > .chat {
      background-image: url("../img/chat-background.jpg");
      background-repeat: repeat;
      height: 80%;
      overflow: auto;
    }

        .chat .messageRow {
          width: 100%;
        }

        .chat .messageRow > .text {
          margin: 0 30px;
        }

        .text > p {
          max-width: 300px;
          border-radius: 10px;
        }

        .sent {
          justify-content: flex-end;
        }

        .sent > p {
          background-color: #d5f9ba;
          padding: 10px;
        }

        .received {
          justify-content: flex-start;
        }

        .received > p {
          background-color: #fff;
          padding: 10px;
        }

    .chatBox > .chatControl {
      background-color: #f3eeea;
      height: 10%;
      justify-content: space-around;
    }

        .chatControl > input {
          height: 60%;
          width: 75%;
          border: none;
          border-radius: 5px;
          padding: 0 20px;
        }

        .chatControl > i {
          color: #6b7376;
          font-size: 1.4rem;
        }
